#header
  h1
    a(href="#/home")= title
  pm-search-field
  //- form.search_wrapper.glyphicon.glyphicon-search(pm-search-field)
  div.links
    a.icon-new-album(href="#/album/edit/")
      i.fa.fa-folder-open-o
    a.icon-add(href="#/upload")
      i.fa.fa-plus-circle
  .clear
